/db/
/incremental_db/
/output_files/
/verif/obj_*/
/verif/modelsim_*/
/verif/media/
/verif/frames/
/verif/*.log
/verif/verilator/
/verif/mame/*/
/snap/
/transcript
__pycache__/
*.pyc
/*.rpt
/*.summary
/*.smsg
/*.jdi
/*.sof
/*.rbf
/*.qws
/roms/
*.zip
*.7z
*.img
*.chd
*.bin
*.key
!rtl/cpu/fx68k/*.mem
